@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: 'CustomFont'; 
  src: url('./assets/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: 'CustomFont'; 
  src: url('./assets/IBM_Plex_Mono/IBMPlexMono-Bold.ttf') format('truetype'); 
  font-weight: bold; 
  font-style: normal; 
} 
@font-face { 
  font-family: 'CustomFont'; 
  src: url('./assets/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf') format('truetype'); 
  font-weight: 300; 
  font-style: normal; 
} 


body
{
  font-family: 'CustomFont';
  background-color: black;
}

.ascii {
  font-size: 6px;
	color: var(--color-link);
	opacity: 0.8;
	
	right: 0;
	top: -1rem;
	pointer-events: none;
}